<% content_for :js_controller, 'locator' %>
<div class="row collapse">
  <div class="twelve columns">
    <div class="map" id="map"></div>
  </div>
</div>
<div class="twelve columns">
  <div class="attribution">Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a></div>
  <table class="datatable large-12">
    <thead>
    <tr>
      <th width="200">Name</th>
      <th>City</th>
      <th width="150">County</th>
      <th width="175">State</th>
      <th width="200">Country</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>