<div class="twelve columns">
  <h2>Halp!</h2>

  <h4>How can I be added to the map?</h4>
  <p>Send a private message to <a href="http://www.reddit.com/message/compose/?to=ALFinder&subject=Register%20me!">/u/alfinder</a> with a mesage containing your location.</p>
  <img width="400" height="360" src="/img/help/register.png" alt="Example reddit private message form, containing to: alfinder, subject: Register Me!, message: Tokyo, Japan"/>

  <h4>I've moved! How do I update my location?</h4>
  <p>Send a new message to <a href="http://www.reddit.com/message/compose/?to=ALFinder&subject=Register%20me!">/u/alfinder</a> with your updated location.</p>

  <h4>How do I remove my information?</h4>
  <p>Send a new message to <a href="http://www.reddit.com/message/compose/?to=ALFinder&message=remove&subject=remove">/u/alfinder</a> with any subject, and the message <code>Remove</code></p>

  <h4>Can I have multiple locations?</h4>
  <p>Not currently.</p>

  <h4>How much information do I need to give about my location?</h4>
  <p>Only your country is required. Other information is optional, but street addresses will be omitted.</p>

  <h4>How should I format my location?</h4>
  <p><code>City, Province/State, Country Code</code> seems to work best.</p>

  <h4>Will my location show up instantly? Should I send another message?</h4>
  <p>It may take a while for your location to be added. Wait a day or two.</p>

  <h4>How will my information be used?</h4>
  <p>Your reddit name and the location provided will be displayed on the home page map. </p>
</div>