<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>AL Finder</title>


  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="css/MarkerCluster.css" />
  <link rel="stylesheet" href="css/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="js/vendor/datatables/dataTables.foundation.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="css/MarkerCluster.Default.ie.css" /><![endif]-->
  <link rel="stylesheet" href="css/app.css" />


  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="row main">
<%= yield %>
</div>

<% if false %>
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script src="js/vendor/leaflet/leaflet.js"></script>
<script src="js/vendor/leaflet/leaflet.markercluster.js"></script>
<script src="js/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="js/vendor/datatables/dataTables.foundation.js"></script>
<script src="js/app.js"></script>
<script src="js/build/bundle.js"></script>
<% end %>

<script src="js/src/vendor/require.js"></script>
<script src="js/src/config.js"></script>
<script>
  require.config(
  {
    baseUrl: 'js/<%= Padrino.env == :production ? 'build' : 'src' %>/',
    waitSeconds: 120
  }
  );
  require(['main']);
</script>
</body>
</html>
